:root {
  --white-color: #fff;
  --black--color: #000;
  --hover-color: #ccc;
  --sold-out-color: #f44336;
  --modal-color: #009688;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

header {
  position: relative;
}

.header__nav {
  background-color: var(--black--color);
  color: var(--white-color);
  width: 100%;
  height: 46px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
}

.header__nav-list {
  list-style-type: none;
  font-weight: 400;
  list-style-type: none;
  line-height: 46px;
  cursor: pointer;
  display: flex;
}

.header__nav-item {
  padding: 0 24px;
  position: relative;
}

.header__nav-item i {
  transform: translateY(-20%);
}

.header__nav-item:hover {
  background-color: var(--hover-color);
  color: var(--black--color);
}

.header__nav-item:hover .header__nav-second-list {
  display: block;
}

.header__nav-second-list {
  position: absolute;
  left: 0;
  top: 46px;
  list-style-type: none;
  display: none;
  background-color: var(--white-color);
  color: var(--black-color);
  box-shadow: 1px 4px 10px 2px rgb(0 0 0 / 20%);
  z-index: 1;
}

.header__nav-second-item {
  width: 160px;
  height: 38px;
  line-height: 38px;
  padding: 0 16px;
  font-size: 1.5rem;
}

.header__nav-second-item:hover {
  background-color: var(--hover-color);
}

.header__nav-search {
  display: inline-block;
  float: right;
  line-height: 46px;
  padding: 0 24px;
}

.header__nav-search:hover {
  background-color: var(--sold-out-color);
  cursor: pointer;
}

.header__nav-search::after {
  clear: both;
}

.slide {
  margin-top: 46px;
  position: relative;
}

.slide img {
  width: 100%;
}

.slide-content {
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 48px 0;
  text-align: center;
  color: var(--white-color);
}

.slide__heading {
  font-size: 2.4rem;
  margin-bottom: 15px;
}
.slide__sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 1px 1px #111;
}

.content-section {
  width: 800px;
  padding: 64px 16px;
  margin: 0 auto;
}

.content-heading {
  font-size: 3rem;
  line-height: 45px;
  margin: 10px 0;
  letter-spacing: 5px;
  text-align: center;
}

.content-sub-heading {
  font-size: 1.5rem;
  font-style: italic;
  color: #888;
  line-height: 22px;
  margin: 15px 0;
  text-align: center;
}

.content-desc {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.5;
}

.member-list {
  display: flex;
  padding: 32px 0;
}

.member-item {
    text-align: center;
}

.member-item__name {
  margin: 15px 0;
  font-size: 1.5rem;
}

.member-item__img {
  width: 154px;
  border-radius: 3px;
}

.tour-section {
  background-color: var(--black--color);
}

.content-heading.tour-section__heading {
  color: var(--white-color);
}

.tour-section__date-list {
  background-color: var(--white-color);
  text-align: left;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 30px 0;
}

.tour-section__date-item {
  height: 38px;
  border-bottom: 1px solid #ccc;
  line-height: 39px;
  padding: 0 16px;
  color: #757575;
  position: relative;
}

.sold-out-item {
  display: none;
  color: var(--white-color);
  background-color: var(--sold-out-color);
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  margin-left: 16px;
}

.tour-section__quantity {
  display: inline-block;
  background-color: var(--black--color);
  color: var(--white-color);
  width: 25px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  margin-right: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.tour-section__date-item.sold-out .sold-out-item {
  display: inline-block;
}

.tour-section__position-list {
  display: flex;
  margin: 0 -8px;
  font-size: 1.5rem;
}

.tour-section__position-item {
  margin: 0 8px;
}

.position-img {
  width: 100%;
  display: block;
}

.position-img:hover {
  opacity: 0.6;
}

.position-body {
  background-color: var(--white-color);
  text-align: left;
  padding: 0 16px;
}

.position-body__heading {
  font-weight: 600;
  padding: 15px 0;
}

.position-body__sub-heading {
  margin-bottom: 15px;
  opacity: 0.5;
}

.position-body__desc {
  margin: 15px 0;
}

.buy-tickets {
  margin-bottom: 16px;
  border: none;
  background-color: var(--black--color);
  color: var(--white-color);
  width: 108px;
  height: 38px;
  line-height: 38px;
  font-size: 1.5rem;
  cursor: pointer;
}

.buy-tickets:hover {
  background-color: var(--hover-color);
  color: var(--black-color);
}

.contact-section {
  display: flex;
}

.contact-section__inform {
  font-size: 1.8rem;
  line-height: 1.5;
}

.contact-section__inform i {
  margin-right: 16px;
}

.contact-form div {
  display: flex;
}

.name-form {
  margin-right: 8px;
}

.mail-form {
  margin-left: 8px;
}

.contact-form input {
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
}

.message-form {
  margin-top: 8px;
}

.submit-form {
  margin-top: 16px;
  text-align: center;
  float: right;
  background-color: var(--black--color);
  color: var(--white-color);
  border: none !important;
  width: 72px;
  height: 38px;
}

.submit-form:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--black--color);
}

.submit-form::after {
  clear: both;
}

::placeholder {
  font-size: 1.5rem;
}

.map {
    filter: grayscale(0.4);
    display: block;
}

footer {
    background-color: #f1f1f1;
    height: 216px;
    padding: 64px 0;
    text-align: center;
}

footer i {
    font-size: 23px;
    margin: 0 1px;
}

footer p {
    color: #656565;
    font-size: 1.5rem;
    display: block;
    margin-top: 32px;
}

footer a {
    color: #656565;
}

footer a:hover {
    opacity: 0.7;
}

.modal.modal--active {
  display: flex;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal__container {
  background-color: var(--white-color);
  width: 900px;
  max-width: calc(100% - 32px);
  position: relative;
  animation: modalIn .5s ease;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal__header {
  background-color: var(--modal-color);
  color: var(--white-color);
  height: 130px;
  font-size: 3rem;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header p {
  margin-left: 16px;
}

.modal__close1 {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white-color);
  font-size: 1.5rem;
  width: 46px;
  height: 52px;
  line-height: 52px;
  text-align: center;
}

.close:hover {
  background-color: var(--hover-color);
  color: #000;
  cursor: pointer;
}

.modal__body {
  margin: 16px;
}

.modal__body label {
  display: block;
  font-size: 1.5rem;
}

.modal__body i {
  font-size: 1.3rem;
}

.modal__body input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0 8px;
  margin: 16px 0;
}

.modal__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--modal-color);
  color: var(--white-color);
  font-size: 1.5rem;
  height: 54px;
  margin: 0 auto;
}

.modal__submit-btn:hover {
  background-color: var(--hover-color);
  color: var(--black--color);
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  font-size: 1.5rem;
}

.modal__close2 {
  margin-top: 16px;
  background-color: var(--sold-out-color);
  color: var(--white-color);
  width: 84px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.modal__close2 i {
  transform: translateY(1px);
}

.modal__need {
  margin-top: 16px;
}


.modal__help {
  color: var(--modal-color);
}
